@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #121212;
    background-color: #F8F9F5;
    margin: 0;
}

main {
    margin-top: 100px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}