@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #121212;
    background-color: #F8F9F5;
    margin: 0;
}

main {
    margin-top: 120px;
}

.centerForText {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 0px 20px;
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 35pt;
    font-weight: 700;
    margin: 15px 0px 15px 0px;
    word-spacing: 3px;
    letter-spacing: 0px;
    text-align: center;
}
p {
    text-align: center;
    font-size: large;
    margin: 5px 0px 5px 0px;
    line-height: 1.6;
}

a {
    color: gray;
    white-space: nowrap;
}