.carousel {
    padding: 30px 0px 30px 0px;
    outline: 2px solid #121212;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    margin: 10px;
}
.elementsDiv {
    display: flex;
    margin-bottom: 30px;
}
.carouselDiv {
    margin-left: 20px;
    padding: 10px;
    min-width: calc(100% - 100px);
    max-width: calc(100% - 100px);
    min-height: 150px;
    outline: 2px solid #121212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s transform;
}

.prevButton, .nextButton {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0px 20px 0px 20px;
    background-color: #121212;
    filter: opacity(0);
    color: #F8F9F5;
    display: flex;
    align-items: center;
    font-size: 20pt;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}
.prevButton {
    left: 0;
}
.nextButton {
    right: 0;
}
.nextButton:hover, .prevButton:hover {
    filter: opacity(0.9);
}

.progressBarDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    height: 10px;
}
.progressBarBox {
    width: 80px;
    background-color: lightgray;
    height: 10px;
    border-radius: 5px;
} 
.progressBar {
    background-color: #121212;
    height: 10px;
    transition: 0.1s;
    border-radius: 5px;
}
@keyframes load {
    0% {
        width: 10px;
    }
    100% {
        width: 100%;
    }
}

.dotsDiv {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.dot {
    width: 8px;
    height: 8px;
    background-color: #121212;
    border-radius: 50%;
    cursor: pointer;
    margin: 4px;
    transition: 0.2s;
}