.karuzela {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 500px;
    border: 2px solid #121212;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    margin: 0px 10px 0px 10px;
}

.div {
    width: 80%;
    margin: 5%;
    flex-shrink: 0;
    outline: 2px solid #121212;
    border-radius: 10px;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.div p {
    margin-left: 10px;
    margin-right: 10px;
}

.divDots {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 10px;
    letter-spacing: 5px;
    user-select: none;
}

.previous {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #121212;
    opacity: 0;
    color: #F8F9F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

.previous:hover {
    opacity: 0.85;
}

.next {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #121212;
    opacity: 0;
    color: #F8F9F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

.next:hover {
    opacity: 0.85;
}

.loadingBar {
    width: 50px;
    height: 100%;
    background-color: lightgray;
    border-radius: 5px;
}

.loadingProgres {
    height: 100%;
    background-color: #121212;
    width: 10px;
    border-radius: 5px;
}

.loadAnim {
    animation: load 3s linear;
}

.center {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
}

@keyframes load {
    0% {
        width: 10px;
    }
    100% {
        width: 100%;
    }
}