.background {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('/windTurbine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 50px;
    border: 0px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px 1px #121212;
    color: #F8F9F5;
}

.form label {
    font-size: 12pt;
    margin-top: 10px;
    color: #F8F9F5;
}

.form input {
    border-radius: 10px;
    border: none;
    width: 175px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    transition: 0.2s;
    background-color: #F8F9F5;
    box-shadow: 1px 1px 10px #121212;
    margin-bottom: 10px;
    color: #121212;
}

.form input:hover {
    transform: scale(105%);
    box-shadow: 2px 2px 10px #121212;
}

.form input:focus {
    transform: scale(105%);
    box-shadow: 2px 2px 10px #121212;
    border: none;
    outline: none;
}

.form button {
    background-color: #F8F9F5;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    box-shadow: 1px 1px 10px #121212;
    border-radius: 10px;
    transition: 0.2s;
    margin: 10px 0px 0px 0px;
    font-weight: 500;
    font-size: 11pt;
}

.form button:hover {
    transform: scale(105%);
    box-shadow: 2px 2px 10px #121212;
}

.form h2 {
    margin-top: 10px;
}