.background {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('/windTurbine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}
.centerOnScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}