.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #121212;
    color: #F8F9F5;
    padding: 0px 0px 0px 20px;
    white-space: nowrap;
    z-index: 1000;
}

.h2 {
    font-size: 18pt;
}

.links {
    display: flex;
    padding-left: 10px;
}

.link {
    margin-left: 20px;
    color: lightgray;
    text-decoration: none;
    transition: 0.2s;
    font-size: 14pt;
}

.link:hover {
    color: white;
}

.relative {
    width: auto;
    display: none;
}

.button {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px;
}

.button img {
    width: 30px;
    height: 30px;
}

.sideBar {
    position: fixed;
    top: 75px;
    right: 0px;
    background-color: #121212;
    color: #F8F9F5;
    max-width: 75%;
    height: 100%;
    z-index: 20;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sideBar .link {
    margin-right: 20px;
    padding-top: 20px;
    font-size: large;
}

.h2link {
    color: #F8F9F5;
    text-decoration: none;
}

@media (max-width: 1050px) {
    .links {
        display: none;
    }
    .button {
        display: block;
    }
    .relative {
        display: block;
    }
}